@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent mobiles from zooming when entering data */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus,
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

.success {
  @apply text-green-700 dark:text-green-400;
}

.warning {
  @apply text-amber-700 dark:text-yellow-400;
}

.error {
  @apply text-red-700 dark:text-red-400;
}

@layer base {
  :root {
    --background: #fcfdfd;
    --foreground: #060e09;

    --muted: #f1f5f9;
    --muted-hsl: 210 40% 96%;
    --muted-foreground: #64748b;

    --popover: #ffffff;
    --popover-foreground: #020817;

    --card: #ffffff;
    --card-foreground: #020817;

    --border: #e2e8f0;
    --input: #e2e8f0;

    --primary: #5ab888;
    --primary-hsl: 149 40% 54%;
    --primary-foreground: var(--background);

    --secondary: #a296d2;
    --secondary-hsl: 252 40% 71%;
    --secondary-foreground: var(--foreground);

    --accent: #b882c9;
    --accent-foreground: var(--foreground);

    --destructive: #ef4444;
    --destructive-foreground: var(--foreground);

    --ring: #020817;

    --radius: 0.5rem;
  }

  .dark {
    --background: #020303;
    --foreground: #f1f9f4;

    --muted: #382c68;
    --muted-hsl: 252 41% 29%;
    --muted-foreground: #94a3b8;

    --popover: #020817;
    --popover-foreground: #46a474;

    --card: #020817;
    --card-foreground: #46a474;

    --border: #382c68;
    --input: #382c68;

    --primary: #46a474;
    --primary-hsl: 149 40% 46%;
    --primary-foreground: var(--background);

    --secondary: #382c68;
    --secondary-hsl: 252 41% 29%;
    --secondary-foreground: var(--foreground);

    --accent: #6c367d;
    --accent-foreground: var(--foreground);

    --destructive: #7f1d1d;
    --destructive-foreground: var(--foreground);

    --ring: #cbd5e1;
  }
}

@layer base {
  /* https://www.shadcn-vue.com/docs/charts.html */
  :root {
    --vis-tooltip-background-color: none !important;
    --vis-tooltip-border-color: none !important;
    --vis-tooltip-text-color: none !important;
    --vis-tooltip-shadow-color: none !important;
    --vis-tooltip-backdrop-filter: none !important;
    --vis-tooltip-padding: none !important;

    --vis-primary-color: var(--primary-hsl);
    --vis-secondary-color: var(--secondary-hsl);
    --vis-text-color: var(--muted-hsl);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
